body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
}

.container {
  background: white;
  padding: 20px;
  margin: 50px auto;
  width: 400px;
  border-radius: 10px;
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px;
  cursor: pointer;
}

#curiosidade {
  color: #555;
  font-style: italic;
}